@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@600&display=swap');

header, footer {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("../media/imagenes/fotoLogin.jpg") no-repeat center center fixed;
    height: 100%;
    background-size: 100% 100%;
}

html, body {
    display: grid;
    height: 100%;
    padding-left: 70px;
    padding-top: 45px;
}

.wrapper {
    width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    margin-top: 100px;
    margin-left: 15px;
    float: left;
    box-shadow: 0 0 .2rem #fff,
    0 0 .1rem #fff,
    0 0 1rem #E31164FF,
    0 0 1rem #E31164FF,
    0 0 2rem #E31164FF,
    inset 0 0 1rem #E31164FF;
}

.wrapper .logo-title {
    display: flex;
    width: 200%;
    font-family: 'Oswald', sans-serif;
}
.wrapper .logo-title .title {
    width: 50%;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.wrapper .form-container  {
    width: 100%;
}

.form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.form-inner form .field input {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
}
.form-inner form .field input:focus {
    border-color: rgba(245,7,77,1);
}
.form-inner form .pass-link {
    margin-top: 10px;

}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
    color: rgba(245,7,77,1);
    text-decoration: none;
}

.form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
    text-decoration: underline;
}
form .field input[type="submit"] {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0;
    border: none;
    cursor: pointer;
    background: linear-gradient(257deg, rgba(245,7,77,1) 0%, rgba(227,17,100,1) 50%, rgba(198,38,63,1) 100%);
}

@media screen and (max-width: 800px) {
    .wrapper {
        width: 300px;
        height: 400px;
        background: #fff;
        padding: 30px;
        border-radius: 8px;
        margin-top: 100px;
        margin-left: 15px;
        float: left;
        box-shadow: 0 0 .2rem #fff,
        0 0 .1rem #fff,
        0 0 1rem #E31164FF,
        0 0 1rem #E31164FF,
        0 0 2rem #E31164FF,
        inset 0 0 1rem #E31164FF;
    }
}