@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sectionAbout {
    width: 100%;
    min-height: 70vh;
    background-color: white;
}

.container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.contentAbout {
    float: left;
    width: 55%;
}

.imageAbout {
    float: right;
    width: 40%;
    padding-top: 50px;
}

.imageAbout img {
    width: 100%;
    height: auto;
}

.tituloAbout, .members-list {
    font-family: 'Oswald', sans-serif;
    padding-bottom: 15px;
    color: rgba(190,1,69,1);
}

.descripcionAbout {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 15px;
    text-align: justify;
}

.members-list ul {
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    color:black;
}

@media screen and (max-width: 800px) {
    .container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .contentAbout {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .imageAbout {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
}