@import url('https://fonts.gooleapis.com/css2?family=League+Gothic&family=Oswald:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    height: 94vh;
}

.arriba {
    height: 47vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.opcionesArriba {
    background-color: #D9D9D9;
    height: 200px;
    width: 250px;
    border-radius: 15px;
    margin: 80px;
}

.abajo {
    height: 47vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.opcionesAbajo {
    background-color: #D9D9D9;
    height: 200px;
    width: 250px;
    border-radius: 15px;
    margin: 80px;
}

.imagenesIconos {
    margin: 20px;
    padding-left: 25px;
    width: 150px;
}

.nombreSecciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    .body {
        display: flex;
        flex-direction: row;
        height: 96vh;
    }
    .arriba {
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .opcionesArriba {
        background-color: #D9D9D9;
        height: 100px;
        width: 150px;
        border-radius: 15px;
    }

    .abajo {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .opcionesAbajo {
        background-color: #D9D9D9;
        height: 100px;
        width: 150px;
        border-radius: 15px;
    }

    .imagenesIconos {
        width: 50px;
        padding-left: 25px;
    }
}