@import url('https://fonts.gooleapis.com/css2?family=League+Gothic&family=Oswald:wght@600&display=swap');

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 96vh;
}

.seccionDerecha {
    width: 50vw;
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagenAddFriend {
    width: 45vw;
    height: 95vh;
    object-fit: cover;
}

.seccionIzquierda {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    height: 15vw;
    width: 22vw;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.TituloAddFriend {
    color: #BB1C3C;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchBar {
    background-color: #D9D9D9;
    width: 300px;
    height: 25px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.searchBar > .inputAddFriend {
    flex: 1;
    height: 30px;
    padding-left: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

.inputAddFriend {
    background-color: #D9D9D9;
}

::placeholder {
    color: #F4F4F4;
}

@media screen and (max-width: 700px) {
    .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 96vh;
    }

    .seccionDerecha {
        width: 55vw;
        height: 48vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .TituloAddFriend {
        color: #BB1C3C;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Oswald', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 55vw;
    }

    .imagenAddFriend {
        width: 55vw;
        height: 50vh;
        object-fit: cover;
    }

    .seccionIzquierda {
        width: 55vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box {
        height: 15vw;
        width: 22vw;
        object-fit: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 700px) and (min-width: 600px) {
    .searchBar {
        background-color: #D9D9D9;
        width: 370px;
        height: 25px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .imagenAddFriend {
        width: 65vw;
        height: 50vh;
        object-fit: cover;
    }
}